---
export const prerender = false
import Root from "../components/layouts/BaseLayout.astro";
import RootContent from "../components/layouts/RootContent.astro";
import Seo from "../components/layouts/BaseSEO.astro";

import Bio from "../components/layouts/controlPane/bioCard.jsx";
import Categories from "../components/layouts/controlPane/categories.jsx";
import MDViewport from "../components/layouts/viewports/document.jsx";

import SidePane from "../components/layouts/controlPane/pane.astro";


const url = new URL(Astro.request.url);
const sourceParam = url.searchParams.get("source");

if (!sourceParam || sourceParam.trim() === "") {
    console.warn("REDIRECT: Source parameter is missing or empty.");
    return Astro.redirect("/");
}

console.log(`[Astro] SourceParam read: "${sourceParam}"`);

let sourceLocation: string;

if (sourceParam.startsWith("http://") || sourceParam.startsWith("https://")) {
  sourceLocation = sourceParam;
}
else if (sourceParam.startsWith("/docs/")) {
  sourceLocation = sourceParam;
}
else {
  sourceLocation = `/docs/${sourceParam}.md`;
}

---

<Seo title="Home - Justinwhite.work" />

<Root title="Document - Justinwhite.work">
  <div
    class="
    h-screen w-screen overflow-hidden p-2 flex flex-row gap-2
    bg-[linear-gradient(to_right,#ffffff05_1px,transparent_1px),linear-gradient(to_bottom,#ffffff05_1px,transparent_1px)] 
    bg-[size:24px_24px] bg-base-200
    "
    data-theme="prime100"
  >
    <SidePane />

    <RootContent>
      <MDViewport
        sourceLocation={sourceLocation}
      title="Document"
      className="flex-1 min-h-0"
      subtitle={sourceParam + ".md" || "nan"}
      client:only="react"
      />
    </RootContent>

  </div>
</Root>