---
import Root from "../components/layouts/BaseLayout.astro";
import RootContent from "../components/layouts/RootContent.astro";
import Seo from "../components/layouts/BaseSEO.astro";

import Bio from "../components/layouts/controlPane/bioCard.jsx";
import Categories from "../components/layouts/controlPane/categories.jsx";
import Card from "../components/library/card.jsx";
import MDViewport from "../components/layouts/viewports/document.jsx";
import IFViewport from "../components/layouts/viewports/preview.jsx";

import SidePane from "../components/layouts/controlPane/pane.astro";
---

<Seo title="Home - Justinwhite.work" />

<Root title="Home - Justinwhite.work">
  <div
    class="
    h-screen w-screen overflow-hidden p-2 flex flex-row gap-2
    bg-[linear-gradient(to_right,#ffffff05_1px,transparent_1px),linear-gradient(to_bottom,#ffffff05_1px,transparent_1px)] 
    bg-[size:24px_24px] bg-base-200
    "
    data-theme="prime100"
  >

    <RootContent class="md:flex hidden">
      <MDViewport
        sourceLocation="/docs/home.md"
        title="Document"
        subtitle="home.md"
        className="flex-1 min-h-0"
        client:only="react"
      />
    </RootContent>

  </div>
</Root>